@font-face {
    font-family: CapitanejoBTRegular;
    src: url(../fonts/capitanejo-bt-regular-webfont.woff);
}

body {
    font-family: CapitanejoBTRegular;
    margin: 0;
}

header {
    padding: 0 15%;
    display: flex;
    align-items: center;
}


/*menu*/

.menu {
    display: flex;
    list-style: none;
}

.menu li:nth-child(5) {
    color: red;
}

li {
    margin: 0 15px;
}


/*top banner*/

#header__topbanner {
    padding: 5 0px;
    width: 100%;
    background: black;
    color: white;
    height: 20px;
    text-align: center;
}

.header__banner {
    position: relative;
}

.header__banner img {
    width: 100%;
}

.texto-banner {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #ffff;
}

.boton {
    border: solid;
    padding: 15px;
}


/*texto Welcome */

.home___text {
    height: 25%;
    margin: auto;
    text-align: center;
}


/*vitrina*/

.home__vitrina {
    padding: 2% 10%;
}

.vitrina__banner {
    display: inline-block;
    width: 50%;
    float: left;
}

.vitrina__banner img {
    width: 100%;
    height: 100%;
}

.vitrina___coleccion {
    display: inline-block;
    height: 300px;
    width: 50%;
}

.vitrina___coleccion {
    background: yellow;
}

.vitrina___coleccion_1 {
    background-color: yellow;
}


/* footer */

.footer {
    width: 100%;
}

.footer__content {
    background: #f7f7f7;
}

.footer_colum {
    height: auto;
    padding: 30px 0 20px;
    display: flex;
}

.footer_colum1 {
    width: 40%;
    padding: 10px;
    display: inline-block;
    float: left;
    background-color: white;
}

.footer_colum1 h3 {
    text-align: left;
    font-size: 17px;
}

.footer_colum2 {
    width: 30%;
    display: inline-block;
}

.footer__menu {
    margin: 0px;
}

.footer__menu li {
    list-style: none;
}

.footer__menu a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.footer_colum3 {
    width: auto;
    display: inline-block;
    float: right;
}

.footer__imgMediopago {
    width: 100%;
}

.footer__downbanner {
    width: 100%;
    background: #152047;
    align-items: center;
}