@font-face {
    font-family: CapitanejoBTRegular;
    src: url(../fonts/capitanejo-bt-regular-webfont.woff);
}

body {
    font-family: CapitanejoBTRegular;
    margin: 0;
}

header {
    width: 100%;
}

.header__logo {
    margin: auto;
    padding: 30px 0 50px 100px;
    height: 60px;
}


/*color*/

#header__topbanner {
    padding: 5 0px;
    width: 100%;
}

.header__banner img {
    width: 100%;
}

.home___text {
    height: 25%;
    margin: auto;
    text-align: center;
}

.home__vitrina {
    padding: 2% 10%;
}

.vitrina__banner {
    display: inline-block;
    height: 300px;
    width: 50%;
    float: left;
}

.vitrina___coleccion {
    display: inline-block;
    height: 300px;
    width: 50%;
}


/*color*/

#header__topbanner {
    background: black;
    color: white;
    height: 15px;
    text-align: center;
}

.vitrina__banner {
    background: royalblue;
}

.vitrina___coleccion {
    background: yellow;
}

.vitrina___coleccion_1 {
    background-color: yellow;
}


/* footer */

.footer {
    width: 100%;
}

.footer__content {
    background: #f7f7f7;
}

.footer_colum {
    height: auto;
    padding: 30px 0 20px;
    display: flex;
}

.footer_colum1 {
    width: 40%;
    padding: 10px;
    display: inline-block;
    float: left;
    background-color: white;
}

.footer_colum1 h3 {
    text-align: left;
    font-size: 17px;
}

.footer_colum2 {
    width: 30%;
    display: inline-block;
}

.footer__menu {
    margin: 0px;
}

.footer__menu li {
    list-style: none;
}

.footer__menu a {
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

.footer_colum3 {
    width: auto;
    display: inline-block;
    float: right;
}

.footer__imgMediopago {
    width: 100%;
}

.footer__downbanner {
    width: 100%;
    background: #152047;
    align-items: center;
}